<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/report.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Титульная страница</title>
</head>
<body>
    <div class="paper">
        <div class="title-list">
            <div class="header">
                <p>Министерство науки и высшего образования Российской Федерации</p>
                <p>Новосибирский государственный технический университет</p>
            </div>

            <div class="content">
                <h2>Практическое задание №2</h2>
                <p>по дисциплине «основы веб-программирования»</p>
            </div>

            <div class="info">
                <p>Факультет: ПМИ</p>
                <p>Группа: ПМИ-22</p>
                <p>Студент: Кривенчук А. А.</p>
                <p>Преподаватель: Цыгулин А. А.</p>
            </div>

            <div class="footer">
                <p>Новосибирск 2025</p>
            </div>
        </div>
    </div>
    <div class="paper">
        <div class="other">
            <div class="purpose">
                <p>Цель:</p>
                <p>Создать комплекс контейнеров (Docker Compose) и разместить их в репозитории  Dockerhub (https://hub.docker.com/). При загрузке комплекса должен запуститься сервер предоставляющий доступ к страничке "о себе с комментариями" при этом комендарии должны сохраняться между запусками </p>
            </div>
            <div class="alg">
                <p>Алгоритм решения:</p>
                <ol>
                    <li>Создать комлекс контейнеров</li>
                    <li>Сделать практическое задание</li>
                </ol>
            </div>
            <div class="conc">
                <p>Вывод:</p>
                <p>В ходе выполнения практического задания был создан комлекс контейнеров, включающий бд- и веб-составляющие</p>
            </div>
        </div>
    </div>
</body>
</html>
